@import "utilities/variables";
@import "utilities/mixins";

:host {
  .signup {
    @include respond(xl) {
      padding-bottom: 150px;
    }
    &__container {
      padding-top: 30px;
      max-width: 500px;
      margin: 0 auto;
      @include respond(xl) {
        padding: 50px 90px;
      }
    }

    &__container {
      @include respond(xl) {
      }
    }

    &__content {
      @include respond(xl) {
        display: flex;
      }
    }

    &__header {
      margin-bottom: 50px;
      @include respond(xl) {
        margin-bottom: 30px;
      }
    }

    &__form {
      margin-bottom: 30px;
      @include respond(xl) {
        flex: 2;
        margin-bottom: 0;
      }
      form {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 16px;
      }
    }
    &__under-form {
      margin-bottom: 15px;
      @include respond(xl) {
        margin-bottom: 5px;
      }
    }

    &__other {
      text-align: center;
      border-bottom: 1px solid $color-dark-shade;
      line-height: 1px;
      margin-bottom: 30px;

      & span {
        background: $color-secondary-tint;
        padding: 0 10px;
      }

      @include respond(xl) {
        display: none;
      }
    }

    .wrapper {
      position: relative;
      width: 25px;
      height: auto;
      margin: 0 60px;
      .line {
        position: absolute;
        left: 49%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: $color-secondary-shade;
        z-index: 1;
      }
      .wordwrapper {
        text-align: center;
        height: 12px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -12px;
        z-index: 2;
      }
      .word {
        padding: 15px 0;
        font-size: 10px;
        font-weight: bold;
        background: $color-secondary-tint;
      }
    }

    &__social-media {
      row-gap: 10px;
      @include respond(xl) {
        margin-bottom: 10px;
        row-gap: 16px;
        flex: 2;
      }

      .auth-big-text {
        margin-bottom: 35px;
      }

      &--item {
        column-gap: 10px;
      }

      &--icon {
        margin-right: 7px;
      }
    }

    &__footer {
      margin-top: 50px;
      text-align: center;

      @include respond(xl) {
        margin-top: 15px;
      }
    }

    &__onlyweb {
      display: none;
      margin-bottom: 32px;
      @include respond(xl) {
        display: block;
      }
    }

    &-1 {
      display: none;
      @include respond(xl) {
        display: inline-block;
      }
    }
    &-2 {
      display: inline-block;
      @include respond(xl) {
        display: none;
      }
    }
  }
}
