<div class="signup">
  <div class="main-container">
    <div class="signup__container">
      <div class="signup__header flex items-center justify-between">
        <h2 class="auth-main-heading auth-heading-primary">
          {{ "AUTH.SIGNUP.REGISTER" | translate }}
        </h2>
      </div>
      <div class="signup__content">
        <div class="signup__form">
          <form [formGroup]="user_form" (ngSubmit)="signup()">
            <div>
              <div class="form-control">
                <i class="icon-person_black_24dp primary-input-img"></i>
                <input
                  class="primary-input"
                  type="text"
                  required
                  placeholder="{{ 'INPUTS.FIRSTNAME' | translate }}"
                  formControlName="FirstName"
                />
              </div>
              <div
                class="app-messages error"
                *ngIf="
                  submitted &&
                  user_form.controls['FirstName'].hasError('required')
                "
              >
                {{ "Validation.Required" | translate }}
              </div>
            </div>
            <div>
              <div class="form-control">
                <i class="icon-person_black_24dp primary-input-img"></i>
                <input
                  class="primary-input"
                  type="text"
                  required
                  placeholder="{{ 'INPUTS.LASTNAME' | translate }}"
                  formControlName="LastName"
                />
              </div>
              <div
                class="app-messages error"
                *ngIf="
                  submitted &&
                  user_form.controls['LastName'].hasError('required')
                "
              >
                {{ "Validation.Required" | translate }}
              </div>
            </div>
            <div>
              <div class="form-control">
                <i class="icon-email_black_24dp-3 primary-input-img"></i>
                <input
                  class="primary-input"
                  type="email"
                  required
                  placeholder="{{ 'INPUTS.MAIL' | translate }}"
                  formControlName="Email"
                />
              </div>
              <div
                class="app-messages error"
                *ngIf="
                  submitted && user_form.controls['Email'].hasError('required')
                "
              >
                {{ "Validation.Required" | translate }}
              </div>
              <div
                class="app-messages error"
                *ngIf="
                  submitted &&
                  user_form.controls['Email'].invalid &&
                  !user_form.controls['Email'].hasError('required')
                "
              >
                {{ "Validation.Pattern" | translate }}
              </div>
              <div
                class="app-messages error"
                *ngIf="emailsExists || usernameExists"
              >
                {{ "Validation.UsedEmail" | translate }}
              </div>
            </div>
            <div>
              <div class="form-control">
                <i class="icon-email_black_24dp-3 primary-input-img"></i>
                <input
                  class="primary-input"
                  type="text"
                  required
                  min="8"
                  placeholder="{{ 'INPUTS.PHONE' | translate }}"
                  formControlName="Phone"
                />
              </div>
              <div
                class="app-messages error"
                *ngIf="
                  submitted && user_form.controls['Phone'].hasError('required')
                "
              >
                {{ "Validation.Required" | translate }}
              </div>
              <div
                class="app-messages error"
                *ngIf="
                  submitted &&
                  user_form.controls['Phone'].invalid &&
                  !user_form.controls['Phone'].hasError('required')
                "
              >
                {{ "Validation.Pattern" | translate }}
              </div>
              <div class="app-messages error" *ngIf="phoneExists">
                {{ "Validation.UsedPhone" | translate }}
              </div>
            </div>
            <div>
              <div class="form-control">
                <i class="icon-lock_black_24dp primary-input-img"></i>
                <i
                  class="primary-input-img-2 pointer"
                  [ngClass]="
                    isPasswordShown
                      ? 'icon-visibility_off_black_24dp'
                      : 'icon-visibility_black_24dp'
                  "
                  (click)="isPasswordShown = !isPasswordShown"
                ></i>
                <input
                  class="primary-input"
                  [type]="isPasswordShown ? 'text' : 'password'"
                  required
                  placeholder="{{ 'INPUTS.PASS' | translate }}"
                  formControlName="Password"
                />
              </div>
              <div
                class="app-messages error"
                *ngIf="
                  submitted &&
                  user_form.controls['Password'].hasError('required')
                "
              >
                {{ "Validation.Required" | translate }}
              </div>
            </div>

            <div class="signup__under-form">
              <button class="signup__btn btn btn-primary btn-bold btn-12-12">
                {{ "AUTH.SIGNIN.TITLE" | translate }}
              </button>
            </div>

            <h2 class="auth-heading-2">
              {{ "AUTH.SIGNUP.ALREADY" | translate }}
              <a
                class="primary signup-1 pointer"
                (click)="signinService.open()"
              >
                {{ "AUTH.SIGNIN.TITLE" | translate }}</a
              >
              <a class="primary signup-2" routerLink="/signin">
                {{ "AUTH.SIGNIN.TITLE" | translate }}</a
              >
            </h2>
          </form>
        </div>

        <!--         <h3 class="signup__other auth-heading-tritiary">
          <span class="auth-heading-1">{{ "AUTH.SIGNIN.OR" | translate }}</span>
        </h3>

        <div class="wrapper signup__onlyweb">
          <div class="line"></div>
          <div class="wordwrapper">
            <div class="word">{{ "AUTH.SIGNUP.OR1" | translate }}</div>
          </div>
        </div> -->

        <!--         <div class="signup__social-media flex flex-col">
          <h2 class="signup__onlyweb auth-heading-1">
            {{ "AUTH.SIGNUP.OR2" | translate }}
          </h2>
          <div class="signup__social-media--item">
            <button class="btn btn-secondary-tint-border btn-12-12 btn-bold">
              Google
              <img
                src="assets/icons/7123025_logo_google_g_icon.svg"
                alt="Google"
                class="signup__social-media--icon"
              />
            </button>
          </div>

          <div
            class="signup__social-media--item flex items-center justify-between"
          >
            <button class="btn btn-secondary-tint-border btn-12-12 btn-bold">
              Facebook<img
                src="assets/icons/5296499_fb_facebook_facebook logo_icon.svg"
                alt="Facebook"
                class="signup__social-media--icon"
              />
            </button>
            <button class="btn btn-secondary-tint-border btn-12-12 btn-bold">
              Appel<img
                src="assets/icons/104490_apple_icon.svg"
                alt="Appel"
                class="signup__social-media--icon"
              />
            </button>
          </div>
          <div class="signup__footer">
            <p class="auth-text">
              {{ "AUTH.SIGNIN.FOOTER1" | translate }}
              <span class="primary">
                {{ "AUTH.SIGNIN.HIGHLIGHT" | translate }}</span
              >{{ "AUTH.SIGNIN.FOOTER2" | translate }}
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
