<div class="contact">
  <div class="contact__container flex flex-col">
    <div class="contact__map-box">
      <!-- <google-map></google-map> -->
    </div>

    <div class="contact__textbox flex flex-col">
      <div class="contact__headings">
        <h2 class="contact-big-heading">{{ "CONTACT.TITLE" | translate }}</h2>
        <h3 class="contact-heading-1">
          {{ "CONTACT.UNDERTITLE" | translate }}
        </h3>
      </div>

      <div class="contact__address flex flex-col">
        <li class="flex items-center contact-heading-2">
          <i class="icon-place_black_24dp"></i>
          {{ "CONTACT.LOCAL" | translate }}
        </li>
        <li class="flex items-center contact-heading-2">
          <i class="icon-email_black_24dp-3"></i>
          {{ "CONTACT.MAIL" | translate }}
        </li>
        <li class="flex items-center contact-heading-2">
          <i class="icon-call_black_24dp"></i>
          {{ "CONTACT.PHONE" | translate }}
        </li>
        <li class="flex items-center contact-heading-2">
          <i class="icon-call_black_24dp"></i>
          00966569481485
        </li>
      </div>
    </div>
  </div>
</div>
