<div class="reset">
  <div class="main-container">
    <div class="reset__container">
      <div class="reset__header flex items-center justify-between">
        <h2 class="reset__auth--header auth-main-heading">
          {{ "AUTH.RESET.TITLE" | translate }}
        </h2>
      </div>
      <div class="reset__underheader">
        <p class="auth-text">
          {{ "AUTH.RESET.UNDERTITLE" | translate }}
        </p>
      </div>

      <div class="reset__form">
        <form class="flex flex-col reset__form--container">
          <div class="form-control">
            <img
              class="primary-input-img"
              src="assets/icons/lock.svg"
              alt="input-img"
            />

            <img
              src="assets/icons/eye-off.svg"
              alt="Show"
              class="primary-input-img-2"
            />
            <input
              class="primary-input"
              type="password"
              required
              placeholder="{{ 'INPUTS.MAIL' | translate }}"
            />
          </div>

          <div class="form-control">
            <img
              class="primary-input-img"
              src="assets/icons/lock.svg"
              alt="input-img"
            />

            <img
              src="assets/icons/eye-off.svg"
              alt="Show"
              class="primary-input-img-2"
            />
            <input
              class="primary-input"
              type="password"
              required
              placeholder="{{ 'INPUTS.PASS' | translate }}"
            />
          </div>
        </form>
      </div>
      <div class="reset__under-form flex items-center justify-between">
        <button class="btn btn-primary btn-bold btn-12-12">
          {{ "AUTH.RESET.SAVE" | translate }}
        </button>

        <button
          routerLink="/signup"
          class="btn btn-secondary-shade-border-primary btn-bold btn-12-12"
        >
          {{ "AUTH.RESET.CANCEL" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
