@import "utilities/variables";
@import "utilities/mixins";

:host {
  .reset {
    @include respond(xl) {
      background-color: $color-secondary;
      padding-top: 183px;
      padding-bottom: 100px;
    }

    &__container {
      padding: 136px 0;
      @include respond(xl) {
        max-width: 390px;
        background-color: $color-secondary-tint;
        padding: 16px;
        margin: 0 auto;
        @include shadow-2;
      }
    }

    &__underheader {
      margin-bottom: 32px;
      @include respond(xl) {
        margin-bottom: 32px;
        margin-top: 16px;
      }
    }

    &__form {
      margin-bottom: 30px;
      form {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 16px;
      }
    }

    &__form--container {
      row-gap: 42px;
      @include respond(xl) {
        row-gap: 32px;
      }
    }

    &__under-form {
      flex-direction: column;
      row-gap: 15px;
      margin-bottom: 110px;
      @include respond(xl) {
        flex-direction: row-reverse;
        column-gap: 16px;
        margin-bottom: 6px;
      }
    }
  }
}
