<div class="forgot">
  <div class="forgot__card">
    <div class="forgot__header flex items-center justify-between">
      <h2 class="forgot__auth--header auth-main-heading">
        {{ "AUTH.FORGOT.TITLE" | translate }}
      </h2>

      <i
        class="icon-clear_black_24dp forgot__close pointer"
        (click)="onClose($event)"
      ></i>
    </div>
    <div class="forgot__underheader">
      <p class="auth-under-heading">
        {{ "AUTH.FORGOT.UNDERTITLE" | translate }}
      </p>
    </div>

    <div class="forgot__form">
      <form>
        <div class="form-control">
          <i class="icon-email_black_24dp-3 primary-input-img"></i>
          <input
            class="primary-input"
            type="email"
            required
            placeholder="{{ 'INPUTS.MAIL' | translate }}"
          />
        </div>
      </form>
    </div>
    <div class="forgot__under-form flex items-center justify-between">
      <button class="btn btn-primary btn-bold btn-12-12">
        {{ "AUTH.FORGOT.SEND" | translate }}
      </button>

      <button
        (click)="onClose($event)"
        class="btn btn-secondary-shade-border-primary btn-bold btn-12-12 forgot-1"
      >
        {{ "AUTH.FORGOT.CANCEL" | translate }}
      </button>
      <button
        routerLink="/signin"
        class="btn btn-secondary-shade-border-primary btn-bold btn-12-12 forgot-2"
      >
        {{ "AUTH.FORGOT.CANCEL" | translate }}
      </button>
    </div>
  </div>
</div>
