<div class="privacy">
  <h1>{{ "PRIVACY.PRIVACYTITLE" | translate }}</h1>
  <div class="container">
    <div>
      <h2>
        {{ "PRIVACY.PRIVACY" | translate }}
      </h2>
      <p>{{ "PRIVACY.PRIVACYP1" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "PRIVACY.INFO" | translate }}
      </h2>
      <p>{{ "PRIVACY.INFOP1" | translate }}</p>
      <li>{{ "PRIVACY.NAME" | translate }}</li>
      <li>{{ "PRIVACY.MAIL" | translate }}</li>
      <li>{{ "PRIVACY.ZCODE" | translate }}</li>
      <li>{{ "PRIVACY.PHONE" | translate }}</li>
      <li>{{ "PRIVACY.CCV" | translate }}</li>
      <p>{{ "PRIVACY.INFOP2" | translate }}</p>
      <p>{{ "PRIVACY.INFOP3" | translate }}</p>
      <p>{{ "PRIVACY.INFOP4" | translate }}</p>
    </div>
  </div>
</div>
