<div class="terms">
  <h1>{{ "TERMSOFSUSE.RULES" | translate }}</h1>
  <div class="container">
    <div>
      <h2>
        {{ "TERMSOFSUSE.RULES" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.RULESP1" | translate }}</p>
      <p>{{ "TERMSOFSUSE.RULESP2" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.BOOK" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.BOOKP1" | translate }}</p>
      <p>{{ "TERMSOFSUSE.BOOKP2" | translate }}</p>
      <p>{{ "TERMSOFSUSE.BOOKP3" | translate }}</p>
      <p>{{ "TERMSOFSUSE.BOOKP4" | translate }}</p>
      <p>{{ "TERMSOFSUSE.BOOKP5" | translate }}</p>
      <p>{{ "TERMSOFSUSE.BOOKP6" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.PRICE" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.PRICEP1" | translate }}</p>
      <p>{{ "TERMSOFSUSE.PRICEP2" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.CHANGE" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.CHANGEP1" | translate }}</p>
      <p>{{ "TERMSOFSUSE.CHANGEP2" | translate }}</p>
      <p>{{ "TERMSOFSUSE.CHANGEP3" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.INFOS" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.INFOSP1" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.RESPONSIBILITIES" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.RESPONSIBILITIESP1" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.CONDITIONS" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.CONDITIONSP1" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.CONDITIONSBBOK" | translate }}
      </h2>
      <li>{{ "TERMSOFSUSE.CONDITIONSBBOKP1" | translate }}</li>
      <li>{{ "TERMSOFSUSE.CONDITIONSBBOKP2" | translate }}</li>
      <li>{{ "TERMSOFSUSE.CONDITIONSBBOKP3" | translate }}</li>
      <li>{{ "TERMSOFSUSE.CONDITIONSBBOKP4" | translate }}</li>
      <li>{{ "TERMSOFSUSE.CONDITIONSBBOKP5" | translate }}</li>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.DISCLAIMER" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.DISCLAIMERP1" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.PRIVACYINFOS" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.PRIVACYINFOSP1" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.WEBSITECONDITIONS" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.WEBSITECONDITIONSP1" | translate }}</p>
    </div>
    <div>
      <h2>
        {{ "TERMSOFSUSE.YOURRESPONS" | translate }}
      </h2>
      <p>{{ "TERMSOFSUSE.YOURRESPONSP1" | translate }}</p>
    </div>
  </div>
</div>
