<div class="color-red" *ngIf="errorObject">
  {{'SHARED.Error' | translate}}
  <span *ngIf="errorObject?.error?.detail" >: {{errorObject?.error?.detail}}</span>
  <span *ngIf="errorObject?.error?.non_field_errors" >: {{errorObject?.error?.non_field_errors[0]}}</span>
  <span *ngIf="errorObject?.error?.code" >: {{errorObject?.error?.code}}</span>
  <span *ngIf="errorObject?.error?.details" >: {{errorObject?.error?.details}}</span>
  <span *ngIf="errorObject?.error?.data" >: {{errorObject?.error?.data}}</span>
</div>
