<div class="choice__change">
  <div class="choice__card-container">
    <div class="choice__card flex flex-col">
      <!-- DatePicker  -->
      <app-date-picker
        [type]="'normal'"
        [date]="queries?.date"
        (onChange)="changeDates($event)"
      ></app-date-picker>
      <!-- Actions  -->
      <div
        class="choice__directions pointer"
        [ngClass]="{ 'directions-open': isActionsOpen }"
        *ngIf="true"
      >
        <div (click)="actionToggle()">
          <h3 class="picker-1">
            <i class="icon-place_black_24dp primary"></i>
            <div>{{ "TRANSPORT_BOOKING.SEARCH.TRACKS" | translate }}</div>
          </h3>

          <div class="direction-list">
            <div class="flex items-center justify-between">
              <h2 class="picker-2" [ngClass]="{ 'text-gray': !currentAction }">
                {{
                  currentAction
                    ? currentAction?.text
                    : ("TRANSPORT_BOOKING.SEARCH.SELECT_TRACK" | translate)
                }}
              </h2>
              <div
                class="chevron"
                [ngClass]="{ 'directions-open': isActionsOpen }"
              >
                <i class="icon-expand_more_black_24dp primary"></i>
              </div>
            </div>
          </div>
        </div>

        <!--         <div *ngIf="isDirectionsOpen" class="mobile">
          <app-directions
            (onChange)="changeDirection($event)"
            [value]="queries?.city"
          ></app-directions>
          <app-transport-actions></app-transport-actions>
        </div> -->
        <div [class.d-none]="!isActionsOpen" class="desktop">
          <app-transport-actions
            (onChange)="changeAction($event)"
            [value]="queries?.actionId"
          ></app-transport-actions>
        </div>
      </div>

      <!-- Vehicles -->
      <div
        class="choice__directions pointer"
        [ngClass]="{ 'directions-open': isVehiclesOpen }"
        *ngIf="true"
      >
        <div (click)="vehicleToggle()">
          <h3 class="picker-1">
            <i class="icon-place_black_24dp primary"></i>
            <div>{{ "TRANSPORT_BOOKING.SEARCH.VEHICLE" | translate }}</div>
          </h3>

          <div class="direction-list">
            <div class="flex items-center justify-between">
              <h2 class="picker-2" [ngClass]="{ 'text-gray': !currentVehicle }">
                {{
                  currentVehicle
                    ? currentVehicle?.text
                    : ("TRANSPORT_BOOKING.SEARCH.SELECT_VEHICLE" | translate)
                }}
              </h2>
              <div
                class="chevron"
                [ngClass]="{ 'directions-open': isVehiclesOpen }"
              >
                <i class="icon-expand_more_black_24dp primary"></i>
              </div>
            </div>
          </div>
        </div>

        <div [class.d-none]="!isVehiclesOpen" class="desktop">
          <app-transport-vehicles
            (onChange)="changeVehicle($event)"
            [value]="queries?.vehicleId"
          ></app-transport-vehicles>
        </div>
      </div>

      <!-- Categories -->
      <div
        class="choice__directions pointer"
        [ngClass]="{ 'directions-open': isVehiclesOpen }"
        *ngIf="true"
      >
        <div (click)="categoryToggle()">
          <h3 class="picker-1">
            <i class="icon-place_black_24dp primary"></i>
            <div>{{ "TRANSPORT_BOOKING.SEARCH.CATEGORIES" | translate }}</div>
          </h3>

          <div class="direction-list">
            <div class="flex items-center justify-between">
              <h2
                class="picker-2"
                [ngClass]="{ 'text-gray': !currentCategory }"
              >
                {{
                  currentCategory
                    ? currentCategory?.text
                    : ("TRANSPORT_BOOKING.SEARCH.SELECT_CATEGORIES" | translate)
                }}
              </h2>
              <div
                class="chevron"
                [ngClass]="{ 'directions-open': isVehiclesOpen }"
              >
                <i class="icon-expand_more_black_24dp primary"></i>
              </div>
            </div>
          </div>
        </div>

        <div [class.d-none]="!isCategoriesOpen" class="desktop">
          <app-transport-categories
            (onChange)="changeCategory($event)"
            [value]="queries?.categoryId"
          ></app-transport-categories>
        </div>
      </div>

      <!-- Button  -->
      <div class="choice__cta">
        <button (click)="onSearch()" class="btn btn-primary btn-24-24 btn-bold">
          <i class="icon-search_black_24dp white"></i>
          <div class="only-pc">{{ "DETAILS.UPDATE" | translate }}</div>
        </button>
        <!--  <button
          (click)="onSearch()"
          *ngIf="isSearchAvailable"
          class="btn btn-primary btn-24-24 btn-bold"
        >
          <i class="icon-search_black_24dp white"></i>
          <div class="only-pc">{{ "DETAILS.UPDATE" | translate }}</div>
        </button>
         <button
          (click)="onSearch()"
          *ngIf="!isSearchAvailable"
          class="btn btn-primary btn-24-24 btn-bold"
        >
          <i class="icon-search_black_24dp white"></i>
          <div class="only-pc">{{ "HOME.HEAD.SEARCH" | translate }}</div>
        </button> -->
      </div>
    </div>
  </div>
</div>
