/*  COLORS  */

$color-primary: #b38e55;

$color-secondary: #f7f7f7;
$color-secondary-tint: #fff;
$color-secondary-shade: #e5e5e5;

$color-success: #00800a;

$color-danger: #d11317;

$color-white: #fff;
$color-gray: #ccc;

// text
$color-dark: #263238;
$color-dark-tint: #132d46;
$color-dark-shade: #979797;

// Breakpoints

$breakpoints-sm: 640px;

$breakpoints-md: 768px;

$breakpoints-lg: 1024px;

$breakpoints-xl: 1280px;

$breakpoints-xxl: 1536px;
